.header-block {
    padding: 1rem;
    height: calc(40px + 1rem);
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid var(--bs-gray-200);
    /* position: sticky;
    top: 0; */
}

.header-block .header-logo {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc(40px + .2rem);
    opacity: .8;
    cursor: pointer;
    font-size: 120%;
}

.header-block .header-logo:hover {
    opacity: 1;
}

.header-block .header-logo > img {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: .25rem;
}

.header-block .header-logo > *:not(:last-child) {
    padding-right: .25rem;
}